header {
  .kv {
    .inner {
      .t2.t2_projects {
        margin-bottom: 1.25rem;
        
        p {
          font-weight: 300;
          line-height: 1.75;
        }
      }
    }
  }
}

.projects {
  position: relative;
  z-index: 1;
  margin-top: -20vh;

  .sc_list {
    position: relative;
    padding: 48px 0;

    .sticky {
      position: sticky;
      top: 60px;
      z-index: 10;
    }

    &_dropdown {
      display: flex;
      margin-bottom: 24px;
      gap: 12px;

      .dropdown_bttn {
        background-color: $white;
        border: 1px solid $black;
        border-radius: 100px;
        margin-right: 8px;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 20px;
        letter-spacing: 0.1px;
        transition: all 0.3s ease-in-out;

        &.active {
          background-color: $black;
          color: $white;
        }
      }

      .dropdown-menu {
        background-color: transparent;
        padding: 0;
        border: 0px solid transparent;
      }

      .dropdown-item {
        background-color: $white;
        padding: 1rem;
        border-radius: 100px;
        border: 1px solid $secondary;
        margin: 0.25rem 0;
        cursor: pointer;

        &:hover {
          background-color: $secondary;
        }
      }
    }

    &_breadcrumb {
      margin-bottom: 60px;

      nav {
        position: static;
      }

      .breadcrumb {
        margin: 12px 0 48px 0;
        font-weight: bold;
        padding: 0px 20px;

        span {
          pointer-events: none;
        }
      }
    }

    &_projects {
      column-count: 3;
      column-gap: 16px;
      /* 過渡效果 */

      .item {
        break-inside: avoid;
        margin-bottom: 16px;
        width: 100%;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.5s ease;
        opacity: 1;
        border-radius: 8px;
        overflow: hidden;

        &:hover {
          transform: scale(0.95);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        }

        &.hidden {
          opacity: 0;
          transform: scale(0.95);
          pointer-events: none;
        }

        img {
          width: 100%;
          display: block;
          transition: transform 0.3s ease;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .projects {
    margin-top: 0vh;
    
    .sc_list {
      padding: 48px 0;

      .sticky {
        top: 10px;
      }

      &_projects {
        column-count: 2;
      }

      &_breadcrumb {
        margin-bottom: 20px;
      }
    }
  }
}